@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neo-glow {
  0% { filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5)) drop-shadow(0 0 20px rgba(255, 105, 180, 0.3)); }
  50% { filter: drop-shadow(0 0 30px rgba(255, 0, 0, 0.8)) drop-shadow(0 0 40px rgba(255, 105, 180, 0.6)); }
  100% { filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5)) drop-shadow(0 0 20px rgba(255, 105, 180, 0.3)); }
}

.neo-glow-text {
  animation: neo-glow 3s infinite ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #880000;
  border-radius: 10px;
}